.header-body {
  background: #00000086;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.header__middle {
  position: relative;
}
.header__middle input {
  width: 50vw;
  height: 40px;
  padding: 5px 10px 5px 45px;
  font-size: 14px;
  border-radius: 6px;
  outline: none;
}
